body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("../public/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;

  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
h1,
h2,
p {
  margin: 0;
  padding: 0;
}


